 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project - Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white">

    <div class="max-w-4xl mx-auto p-6">
        <!-- Logout Button -->
        <div class="flex justify-end mb-6">
            <a class="bg-red-500 text-white py-2 px-4 rounded-md text-sm hover:bg-red-600" href="/logout">Logout</a>
        </div>

        <!-- Welcome Text -->
        <h5 class="text-lg text-gray-400 mb-8">Edit Your Post</h5>

        <!-- Create Post Form -->
        <form action="/update/<%=post._id%>" method="post" class="mb-12">
            <textarea class="w-full p-3 bg-transparent border border-gray-700 rounded-md text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none" placeholder="What's on your mind?" name="content"><%= post.content%></textarea>
            <input class="mt-4 bg-yellow-500 text-black py-2 px-6 rounded-md text-sm hover:bg-blue-600 cursor-pointer" type="submit" value="Update  Post">
        </form>

    </div>

</body>
</html>
